/* chat-box */
.chat-box-main {
    display: flex;
    flex-direction: column;
}

.chat-box {
    background: #FFFFFF;
    width: 480px;
    height: 714px;
    border-radius: 24px;
    border: #FFFFFF;
}

.chat-box-profile {
   height: 98px; 
   border-bottom: 1px solid #FFFF;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 113px;
}

.chat-box-profile-data {
    display: flex;
    margin-left: 24px;
    gap: 12px;
}

.avatar-profile {
    width: 48px;
    height: 48px;
    display: flex;
    background: #0047FF;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
}

.profile-name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2px;
}

.profile-desc {
    font-size: 16;
    color: #8A8989;
}

.chat-box-actions {
    display: flex;
    gap: 24px;
    margin-right: 24px;
}

/* chat-box-content */
.server-mess-1 {
    background: #EDEFF1;
    width: 400px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 12px 12px 0;
    margin-top: 5px;
    margin-left: 24px;
}

.server-mess-2 {
    background: #EDEFF1;
    width: 375px;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 12px 12px 0;
    margin-left: 24px;
    padding-left: 10px;
}

.client-mess{
    width: 312px;
    height: 70px;
    display: flex;
    background-color: #0047FF;
    align-items: center;
    justify-self: flex-end;
    justify-content: center;
    border-radius: 12px 12px 0 12px;
    margin-top: 24px;
    margin-right: 24px;
    margin-bottom: 31px;
    padding-left: 16px;
    padding-right: 16px;
    color: #FFFFFF;
}

.chat-box-image {
    width: 250px;
    height: 156px;
    display: flex;
    justify-self: flex-end; 
    object-fit: cover;   
    border-radius: 12px 0 12px 12px;
    margin-top: 31px;
    margin-right: 24px;
    margin-bottom: 24px;
}

/* chat-box-input */
.input-chat {
    width: 432px;
    height: 64px;
    display: flex;
    margin-top: 78px;
    margin-left: 24px;
}

.chat-box-input {
    width: 351px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EDEFF1;
    gap: 18.5px;
    border-radius: 16px;

}

.chat-box-input-text {
    width: 202px;
    height: 18px;
    display: flex;
    margin-left: 24px;
    align-items: center;
    color: #8A8989;
}

.chat-box-input-icon {
    display: flex;
}

.attach-file {
    margin-right: 24px;
}

.chat-box-input-send {
    width: 64px;
    height: 64px;
    margin-left: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF; 
    border-radius: 16px;
    border-style: none;
}

.chat-box-input-send img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

/* subbox-zalo */
.chat-subbox-zalo{
    width: 480px;
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: #FFFFFF;
}

.chat-box-zalo-subbox-info {
    width: 422px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px
}

.chat-box-zalo-subbox-heading {
    width: 336px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 18px;
    background-color: #9FD2FB;
}

.chat-box-zalo-subbox-icon {
    width: 80px;
    height: 80px;
    background: #EBF6FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.chat-box-zalo-icon{
    width: 50px;
    height: 50px;
}

/* Mini-chat-icon */
.chat-box-mini {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.chat-box-mini-container {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 70px;
    height: 70px;
    z-index: 1001;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    display: flex;
}

/* chat-wrapper-main */
.chat-wrapper {
    position: fixed;
    right: 79px;
    top: 600px;
    display: none;
    flex-direction: column;
    z-index: 1000;
}

@media only screen and (max-width: 768px) {
    .chat-box-mini-container{
        width: 50px;
        height: 50px;
        right: 20px;
    }
    
    .chat-box {
        width: 383px;
        height: 714px;
        border-radius: 16px;
    }

    .chat-box-profile {
        height: 86.99px;
        gap: 20px;
    }

    .chat-box-profile-data {
        width: 177px;
        height: 48px;
        margin-left: 24px;
        align-items: center;
        justify-content: center;
    }

    .avatar-profile {
        width: 48px;
        height: 48px;
        font-size: 16px;
        border-bottom: 1px solid #E6EAEE;
    }

    .profile-info {
        width: 117px;
        height: 34px;
    }

    .profile-name {
        font-size: 14px;
    }

    .profile-desc {
        font-size: 12px;
    }

    .server-mess-1 {
        width: 289px;
        height: 66px;
        font-size: 14px;
        margin-top: 15px;
    }

    .server-mess-2 {
        width: 302px;
        height: 83px;
        font-size: 14px;   
    }

    .client-mess {
        width: 267px;
        height: 66px;
        font-size: 14px;
        margin-right: 17px;
        margin-top: 9px;
        margin-bottom: 35px;
    }

    .chat-box-mess {
        margin-left: 13.5px;
        margin-right: 13.5px;
    }

    .chat-box-image {
        width: 182px;
        height: 156px;
        margin-right: 17px;
        margin-top: 0;
        margin-bottom: 41px;
    }

    .input-chat {
        width: 342px;
        margin-top: 67px;
        margin-right: 20px;
        margin-left: 21px;
    }

    .chat-box-input {
        width: 261px;
        height: 57px;
        justify-content: unset;
        gap: unset;
    }

    .chat-box-input-text {
        font-size: 14px;
        width: fit-content;
        margin-left: 11px;
    }

    .chat-box-input-icon {
        margin-left: 50px;
        width: 25px;
        height: 25px;
    }

    .chat-box-input-send {
        width: 64px;
        height: 57px;
        background-color: #EDEFF1;
    }

    .chat-box-input-send img {
        width: 25px;
        height: 25px;
    }

    .attach-file {
        width: 25px;
        height: 25px;
        margin-left: 26px;
        margin-right: 11px;
    }

    .chat-wrapper {
        right: 22px;
        top: auto;
        bottom: 100px;
        width: 383px;
        height: 802px;
        gap: unset;
    }

    .chat-subbox-zalo {
        width: 383px;
        height: 88px;
    }

    .chat-box-zalo-subbox-info {
        width: 336px;
        height: 50px;
    }

    .chat-box-zalo-subbox-heading {
        width: 252px;
        height: 50px;
        font-size: 14px;
        padding-left: 10.5px;
        border-radius: 10px;
    }

    .chat-box-zalo-subbox-icon {
        width: 50px;
        height: 50px;
    }

    .chat-box-zalo-subbox-icon img {
        width: 30px;
        height: 30px;
    }
}