/* footer-section */
.footer {
    width: 100%;
    height: 198.23px;
    background: #1E1E1E;
}

.footer-items {
    padding-top: 69px;
    margin-left: 64px;
}

.footer-info-list {
    padding-top: 32.59px;
    margin-bottom: 41.9px;
    display: flex;
    gap: 16px;
}