@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* main-css */
.body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: 'Inter';
    margin: unset;
}


a {
    text-decoration: none;
    display: flex;
}

ul {
    margin: 0;
    margin-inline: unset !important;
    padding: 0;
    list-style: none;
}