/* product-section */
.product {
    background: #fff;
}

.product-container {
    margin: 32px 64px;
}

.column-container-heading {
    margin-bottom: 40px;
}

.product-title {
    font-size: 32px;
    font-weight: 700;
    color: #1E1E1E;
    margin: 0;
}

.product-subtitle {
    font-size: 18px;
    color: #7E7E7E;
    margin: 4px 0 0;
}

/* card-grid */
.column-product-first-row .product-cards,
.column-product-second-row .product-cards {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}

.product-card-list {
    display: flex;
    width: 100%;
    gap: 48px;
    justify-content: space-between;
    margin: 10px;
}

/* main-card */
.product-card-pic {
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex: 0 0 auto;
    width: 565.33px;
    height: 208px;
    display: flex;
    align-items: center;
}

.product-pic {
    width: 160px;
    height: 160px;
    object-fit: cover;
    flex-shrink: 0;
    margin-left: 24px;
}

.product-card-content {
    padding: 24px 24px 37px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-card-heading {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 8px;
    color: #1E1E1E;
}

.product-card-desc {
    font-size: 16px;
    line-height: 1.4;
    color: #4F4F4F;
}

.chervon-button{
    display: none;
}

/* pagination*/
.pagination-first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.pagination-second-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32.35px;
}

.pagination-prev {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding-right: 20px;
}

.pagination-next {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding-left: 20px;
}

.pagination-icon {
    width: 16px;
    height: 16px;
}

.pagination-heading-prev {
    font-size: 16px;
    color: #757575;
}

.pagination-heading-next{
    font-size: 16px;
    color: #1E1E1E;
}

.pagination-list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pagination-button {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background: #1E1E1E;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-items .pag-item {
    font-size: 16px;
    color: #333;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
}

.pagination-gap .pag-gap-text {
    font-size: 16px;
    color: #333;
    padding-left: 4px;
    padding-right: 4px;
}

@media only screen and (max-width: 768px) {
    .product-container {
        width: 100%;
        height: 863px;
        margin: 0;
        padding-top: 32px;
        padding-left: 64px;
    }

    .row-heading-list {
        width: 640px;
    }

    .column-container-heading {
        width: 146px;
        height: 51px;
        margin-bottom: 32px;
    }

    .column-product-first-row,
    .column-product-second-row {
        width: 640px;
        height: 342px;
        display: flex;
        flex-direction: column;
        overflow: unset;
    }

    .column-product-second-row{
        margin-top: 32px;
    }

    .product-title {
        font-size: 20px;
        font-weight: 700;
        color: #1E1E1E;
        margin: 0;
    }

    .product-subtitle {
        font-size: 16px;
        color: #7E7E7E;
        margin: 4px 0 0;
    }

    .product-cards {
        width: 640px;
        height: 342px;
    }

    .hidden {
        display: none;
    }

    .product-card-list {
        width: 640px;
        height: 342px;
        margin: 0;
        gap: 30px;
    }

    .product-card-pic {
        width: 305px;
        height: 342px;
        padding: 24px;
        align-items: unset;
        flex-direction: column;
        overflow: unset;
    }

    /* .chervon-button{
        display: block;
        width: 30px;
        height: 30px;
    } */

    .product-pic {
        width: 160px;
        height: 160px;
        margin: 0;
        margin-bottom: 24px;
    }

    .product-card-content {
        width: 257px;
        height: 110px;
        padding: 0;
    }

    .product-card-heading {
        font-size: 14px;
    }

    .product-card-desc {
        font-size: 12px;
    }
}