/* review-section */
.review-section {
    background: #fff;
}

.review-container {
    margin: 32px 64px;
}

.review-column {
    margin-bottom: 40px;
}

.review-title-heading {
    margin-top: 32px;
    margin-bottom: 38px;
}

.review-content {
    margin-bottom: 50px;
}

.review-card-grid {
    display: flex;
    gap: 64px;
    margin-bottom: 50px;
}

.user-review {
    width: 554.67px;
    height: 239px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    overflow: hidden;
}

.pag-item-1 {
    display: flex;
    gap: 4px;
    width: 116px;
    margin-top: 24px;
    margin-left: 24px;
}

.user-review-body {
    width: 506.67px;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.user-review-desc {
    width: 506.67px;
    margin-top: 4px;
}

.user-review-avatar-container {
    min-width: 506.67px;
    width: 506.67px;
    height: 46px;
    display: flex;
    margin-left: 24px;
    margin-top: 24px;
}

.user-review-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.user-review-info {
    width: 454.67px;
    height: 46px;
    padding-left: 12px;
}

.user-reivew-date {
    color: #B3B3B3;
    padding-top: 2px;
}

.user-review-heading {
    color: #757575;
}

/* pagination-review */
.pagination-review {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

@media only screen and (max-width: 768px) {
    .review-container {
        margin-top: 32px;
        margin-left: 49px;
        margin-right: 0;
    }

    .review-content {
        width: 670px;
        height: 312px;
        margin-bottom: 33.42px;
    }

    .review-card-grid {
        gap: 30px;

    }

    .review-title-heading {
        margin-top: 0;
        margin-bottom: 32px;
        font-size: 20px;
        margin-left: 15px;
    }

    .hidden {
        display: none;
    }

    .user-review {
        width: 328px;
        height: 228px;
        margin: 0;
        padding: 0;
    }

    .tablet {
        width: 316px;
        height: 228px;
    }

    .user-review-body {
        width: 280px;
        height: 72px;
        margin: 20px;
    }

    .review-heading {
        width: max-content;
        font-size: 14px;
    }

    .user-review-desc {
        font-size: 12px;
        width: 280px;
    }

    .user-review-avatar-container {
        min-width: unset;
        width: 280px;
        height: 40px;
        margin: 20px;
    }

    .user-review-heading {
        font-size: 12px;
    }

    .user-reivew-date {
        font-size: 12px;
    }
}