/* sub-hero */
.sub-hero {
    height: 478px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.row-container {
    display: flex;
    width: 1920px;
    justify-content: center;
    align-items: center;
}

.one {
    flex: 0 0 auto;
    height: 100%;
    margin-left: 64px;
    margin-right: 48px;
}

.two {
    flex: 1;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 64px;
}

.image-one,
.image-two {
    width: 872px;
    height: 414px;
    object-fit: cover;
    display: block;
}

@media only screen and (max-width: 768px) {
    .sub-hero {
        width: 100%;
        height: 226px;
    }

    .row-container {
        width: 100%;
        height: 100%;
    }

    .one {
        width: 296px;
        height: 162px;
    }

    .two {
        width: 296px;
        height: 162px;
    }

    .image-one,
    .image-two {
        width: 296px;
        height: 162px;
        object-fit: cover;
    }
}