@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    /* height: 2560px;
    margin: auto 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1920px; */

    width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
}

body {
    width: 100vw;
    min-width: 100vw;
    display: flex;
    align-items: center;
}

/* main-css */
* {
    box-sizing: border-box;
    line-height: normal;
    font-family: 'Inter';
    margin: unset;
}

a {
    text-decoration: none;
    display: flex;
}

ul {
    margin: 0;
    margin-inline: unset !important;
    padding: 0;
    list-style: none;
}

/* Header */
.main {
    position: relative;
    width: 100%;
    max-width: 1920px;
}

.header {
    width: 100%;
    height: 178px;
    padding-top: 48px;
    padding-bottom: 48px;
    z-index: 1;
    display: flex;
    background: linear-gradient(90deg, #f5c4c4, #83c3cb);
    justify-content: center;
    align-items: flex-start;
}

.list-icon-container {
    display: none;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.chervon-right-button, .chervon-left-button, .chervon-right-button-2, .chervon-left-button-2, .chervon-right-button-rv, .chervon-left-button-rv {
    display: none;
}

.list-icon {
    width: 24px;
    height: 24px;
}

.logo-sub {
    width: 25.44%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    padding-left: 36px;
}

.logo-title {
    /* font-size: 40px; */
    font-size: clamp(1.5rem, calc(1.39vw + 0.833rem), 2.5rem);
    font-weight: 700;
    color: #C00F0C;
    margin-top: 59px;
    margin-bottom: 69px;
}

.logo-sub-nav {
    display: none;
}

.header-nav {
    width: 60.59%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 3px;
}

.header-nav li {
    flex: 1 1 auto;  /* flex-grow = 1, flex-shrink = 1, flex-basis = auto */
    min-width: 0;    /* cho phép co nhỏ hơn kích thước nội dung */
    white-space: nowrap; /* không xuống dòng bên trong mỗi item */
  }
  

.nav-link-selected {
    width: 100%;
    height: 36px;
    background-color: #f5f5f5;
    text-shadow: 0px 4px 10px #0000003f;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.nav-link {
    width: 100%;;
    height: 36px;
}

.header-actions {
    width: 17.41%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    /* gap: 60px; */
}

.header-action-icons {
    width:  32px;
}

.header-top {
    width: 92.14%;
    height: 80px;
    margin-left: 75px;
    margin-right: 76px;
    margin-bottom: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-header-top {
    width: 79.76%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.header-logo-img {
    width: 16.713%;
    /* width: 60px; */
    height: 60px;
    margin-top: 49px;
    margin-bottom: 69px;
    padding-top: 10px;
    object-fit: contain;
}

.selected {
    width: 21.27%;
}

.header-nav-item {
    display: flex;
    width: 100%;
    font-size: clamp(10px, 1.349vw, 20px);
    color: #1E1E1E;
    align-items: center;
    justify-content: center;
}

.ui {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 32px;
    font-size: clamp(10px, 1.349vw, 20px);
    font-weight: 400;
    color: #1E1E1E;
}

.header-actions-icons {
    width: 2.159vw;
    /* max-width: 2.159vw; */
    height: 2.159vh;
    /* max-height: 2.159vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hero-basic */
.herobasic {
    position: relative;
    width: 100%;
    height: 452px;
    background-color: #e3e3e3;
    overflow: hidden;
    align-content: center;
}

.herobasic .hero-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8; 
}

.herobasic > .column-title-container {
    position: relative;
    z-index: 1;
  }

.column-title-container {
    height: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.column-title-heading {
    color: #C00F0C;
    font-size: clamp(32px, calc(3.47vw + 5.33px), 72px);
    font-weight: 700;
    min-width: 858px;
    display: flex;
    justify-content: center;
}

.column-title-subheading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(20px, calc(1.04vw + 12px), 32px);
    color: #F5F5F5;
}

/* sub-hero */
.sub-hero {
    height: 478px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #FFFFFF;
}

.row-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 48px;
    opacity: 0.8;
    background-color: #FFFFFF;
}

.one {
    width: 45.416%;
}

.two {
    width: 45.416%;
}

.image-one,
.image-two {
    max-width: 100%;
    width: 100%;
    height: 414px;
    object-fit: cover;
    display: block;
}

/* product-section */
.product {
    background: #fff;
}

.product-container {
    height: 770.65px;
    margin: 32px 64px;
}

.row-heading-list {
    height: 770.65px;
}

.column-container {
    height: 770.65px;
}

.column-container-heading {
    width: 183px;
    height: 61px;
    margin-bottom: 40px;
}

.product-title {
    font-size: clamp(20px, calc(0.35vw + 17.33px), 24px);
    font-weight: 600;
    color: #1E1E1E;
    margin: 0;
}

.product-subtitle {
    font-size: clamp(16px, calc(0.35vw + 13.33px), 20px);
    color: #7E7E7E;
    margin: 4px 0 0;
}

/* card-grid */
.product-cards {
    width: 100%;
    display: flex;
    min-height: 220.9px;
    /* height: auto; */
    gap: 24px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.two-card {
    display: flex;
    height: 214.78px;
    gap: 24px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.product-card-list-1 {
    width: 100%;
    height: 220.9px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.product-card-list-2 {
    height: 214.78px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px;
}

.column-product-first-row, .column-product-second-row {
    min-height: 313.78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* main-card */
.product-card-pic {
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex: 0 0 auto;
    width: 31.98%;
    max-height: 208px;
    display: flex;
    align-items: center;
}

.product-pic {
    width:  10.796vw;
    max-width: 160px;
    height: auto;
    max-height: 160px;
    object-fit: cover;
    flex-shrink: 0;
    margin-left: 24px;
}

.product-card-content {
    width: 58.969%;
    margin: 24px 24px 37px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-card-heading {
    font-size: clamp(14px, calc(0.87vw + 7.33px), 24px);
    font-weight: 600;
    margin: 0 0 8px;
    color: #1E1E1E;
}

.product-card-desc {
    font-size: clamp(12px, calc(0.35vw + 9.33px), 16px);
    font-weight: normal;
    line-height: 1.4;
    color: #757575;
    
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: auto;
    text-overflow: ellipsis;
}

.desc-spe {
    text-align: justify;
}

.chervon-button{
    display: none;
}

/* pagination*/
.pagination-first-row {
    width: 490px;
    height: 52.88px;
    /* padding-left: 651px;
    padding-right: 651px; */
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.pagination-second-row {
    width: 490px;
    height: 52.88px;
    display: flex;
    margin-left: 651px;
    margin-right: 651px;
    justify-content: center;
    align-items: center;
    margin-bottom: 32.35px;
}

.pagination-prev {
    width: 116px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    cursor: pointer;
    opacity: 0.5;
}

.pagination-next {
    width: 82px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    margin-left: 8px;
}

.pagination-icon {
    width: 16px;
    height: 16px;
}

.pagination-heading-prev {
    width: 68px;
    height: 16px;
    font-size: 16px;
    color: #757575;
}

.pagination-heading-next{
    font-size: 16px;
    color: #1E1E1E;
}

.pagination-list {
    width: 276px;
    height: 38px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.pagination-button {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 8px;
    background: #1E1E1E;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-items .pag-item {
    font-size: 16px;
    color: #333;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
}

.pagination-gap .pag-gap-text {
    font-size: 16px;
    color: #333;
    padding-left: 4px;
    padding-right: 4px;
}

/* review-section */
.review-section {
    background: #fff;
}

.review-container {
    margin: 32px 64px;
}

.review-column {
    margin-bottom: 40px;
}

.review-title-heading {
    font-size: clamp(20px, calc(0.35vw + 17.33px), 24px);
    width: 220px;
    height: 29px;
    margin-top: 32px;
    margin-bottom: 38px;
}


.review-content {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-card-grid {
    width: 100%;
    display: flex;
    gap: 64px;
    margin-bottom: 50px;
}

.user-review {
    width: 91.346%;
    height: 239px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    overflow: hidden;
}

.pag-item-1 {
    display: flex;
    gap: 4px;
    width: 116px;
    margin-top: 24px;
    margin-left: 24px;
}

.user-review-body {
    width: 91.407%;
}

.user-review-desc {
    font-size: clamp(12px, calc(0.35vw + 9.33px), 16px);
    width: 100%;
    margin-top: 4px;
    padding-left: 24px;
    margin-right: 24px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: auto;
    text-overflow: ellipsis;
}

.user-review-avatar-container {
    width: 91.347%;
    height: 46px;
    display: flex;
    margin-left: 24px;
    margin-top: 24px;
}

.user-review-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.user-review-info {
    width: 89.998%;
    height: 46px;
    padding-left: 12px;
}

.user-reivew-date {
    font-size: clamp(12px, calc(0.35vw + 9.33px), 16px);
    color: #B3B3B3;
    padding-top: 2px;
}

.review-heading {
    font-size: clamp(14px, calc(0.87vw + 7.33px), 24px);
    font-weight: 600;
    margin-top: 24px;
    margin-left: 24px;
    width: 100%;
}

.user-review-heading {
    font-size: clamp(12px, calc(0.35vw + 9.33px), 16px);
    color: #757575;
}

/* pagination-review */
.pagination-review {
    width: 15.401%;
    /* width: 276px; */
    height: 38px;
}

.pagination-review .pagination-list {
    width: 276px;
    height: 38px;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

/* footer-section */
.footer {
    width: 100%;
    display: flex;
    height: 198.23px;
    background: #1E1E1E;
}

.footer-items {
    padding-top: 69px;
    margin-left: 64px;
}

.footer-info-list {
    padding-top: 32.59px;
    margin-bottom: 41.9px;
    display: flex;
    gap: 16px;
}

/* chat-box */
.chat-box-main {
    display: flex;
    flex-direction: column;
}

.chat-box {
    background: #FFFFFF;
    width: 480px;
    height: 714px;
    border-radius: 24px;
    border: #FFFFFF;
}

.chat-box-profile {
   height: 98px; 
   border-bottom: 1px solid #FFFF;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 113px;
}

.chat-box-profile-data {
    display: flex;
    margin-left: 24px;
    gap: 12px;
}

.avatar-profile {
    width: 48px;
    height: 48px;
    display: flex;
    background: #0047FF;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
}

.profile-name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2px;
}

.profile-desc {
    font-size: 16;
    color: #8A8989;
}

.chat-box-actions {
    display: flex;
    gap: 24px;
    margin-right: 24px;
}

/* chat-box-content */
.server-mess-1 {
    background: #EDEFF1;
    width: 400px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 12px 12px 0;
    margin-top: 5px;
    margin-left: 24px;
}

.server-mess-2 {
    background: #EDEFF1;
    width: 375px;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 12px 12px 0;
    margin-left: 24px;
    padding-left: 10px;
}

.client-mess{
    width: 312px;
    height: 70px;
    display: flex;
    background-color: #0047FF;
    align-items: center;
    justify-self: flex-end;
    justify-content: center;
    border-radius: 12px 12px 0 12px;
    margin-top: 24px;
    margin-right: 24px;
    margin-bottom: 31px;
    padding-left: 16px;
    padding-right: 16px;
    color: #FFFFFF;
}

.chat-box-image {
    width: 250px;
    height: 156px;
    display: flex;
    justify-self: flex-end; 
    object-fit: cover;   
    border-radius: 12px 0 12px 12px;
    margin-top: 31px;
    margin-right: 24px;
    margin-bottom: 24px;
}

/* chat-box-input */
.input-chat {
    width: 432px;
    height: 64px;
    display: flex;
    margin-top: 78px;
    margin-left: 24px;
}

.chat-box-input {
    width: 351px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EDEFF1;
    gap: 18.5px;
    border-radius: 16px;

}

.chat-box-input-text {
    width: 202px;
    height: 18px;
    display: flex;
    margin-left: 24px;
    align-items: center;
    color: #8A8989;
}

.chat-box-input-icon {
    display: flex;
}

.attach-file {
    margin-right: 24px;
}

.chat-box-input-send {
    width: 64px;
    height: 64px;
    margin-left: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF; 
    border-radius: 16px;
    border-style: none;
}

.chat-box-input-send img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

/* subbox-zalo */
.chat-subbox-zalo{
    width: 480px;
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: #FFFFFF;
}

.chat-box-zalo-subbox-info {
    width: 422px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px
}

.chat-box-zalo-subbox-heading {
    width: 336px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 18px;
    background-color: #9FD2FB;
}

.chat-box-zalo-subbox-icon {
    width: 80px;
    height: 80px;
    background: #EBF6FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.chat-box-zalo-icon{
    width: 50px;
    height: 50px;
}

/* Mini-chat-icon */
.chat-box-mini {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.chat-box-mini-container {
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 70px;
    height: 70px;
    z-index: 1001;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    display: flex;
}

/* chat-wrapper-main */
.chat-wrapper {
    position: absolute;
    right: 79px;
    display: none;
    flex-direction: column;
    z-index: 1000;
}