@media only screen and (max-width: 768px) and (min-width: 481px) {
    .main {
        max-width: 768px;
    }

    .header {
        height: 65px;
        margin: 0;
        padding: 0;
        position: relative;;
        background: linear-gradient(90deg, #f5c4c4, #83c3cb);
        justify-content: center;
        align-items: center;
    }

    .list-icon-container {
        display: flex;
        width: 35px;
        height: 35px;
        background: #FFFFFF;
        border-radius: 4px;
        margin: 0;
        justify-content: center;
        cursor: pointer;
        transition: transform 0.2s ease;
    }  

    .list-icon-container:hover {
        transform: scale(1.1);
    }

    .logo-sub {
        width: 168px;
        height: 35px;
        padding: 0;
        gap: 21px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .logo-title {
        display: flex;
        font-size: clamp(10px, 2.08vw, 16px);
        font-weight: 700;
        margin-top: 11.5px ;
    }

    .header-nav {
        position: absolute;
        top: 65px;
        left: 0;
        width: 228px;
        height: 534px;
        flex-direction: column;
        background: linear-gradient(180deg, #f5c4c4, #83c3cb);
        align-items: center;
        z-index: 100;
        border: 1px solid #1E1E1E;
        border-radius: 0 10px 10px 0;
        justify-content: unset;
        gap: 0;
    }

    .header-nav li {
        width: 228px;

    }

    .logo-sub-nav {
        width: 174px;
        height: 60px;
        display: flex;
        margin-top: 35px;
        justify-content: center;
        align-items: center;
        gap: 23px;
        margin-bottom: 25px;
    }

    .logo-title-nav {
        width: 111px;
        height: 16px;
        font-size: clamp(10px, 2.08vw, 16px);
        color: #C00F0C;
        font-weight: 700;
    }

    .header-logo-img-nav {
        width: 40px;
        height: 40px;
    }

    .nav-link-selected {
        width: 228px;
        height: 36px;
        border-radius: 0;
        padding: 16px 20px;
        text-shadow: none;
        justify-content: center;
        background-color: #FFFFFF;
        border-radius: 8px;
        margin-bottom: 50px;
    }

    .chervon-right-button, .chervon-left-button, .chervon-right-button-2, .chervon-left-button-2, .chervon-right-button-rv, .chervon-left-button-rv {
        display: none;
    }

    .nav-link {
        width: 228px;
        height: 36px;
        border-radius: 0;
        padding: 16px 20px;
        text-shadow: none;
        justify-content: center;
        margin-bottom: 50px;
    }

    .header-actions {
        width: 29.4%;
        height: 20px;
        display: flex;
        align-items: center;
        margin-right: 0;
    }

    .header-top {
        width: 92.838%;
        height: 35px;
        display: flex;
        align-items: center;
        justify-self: center;
        margin: 0;
        margin-left: 32px;
        padding-right: 32px;
    }

    .sub-header-top {
        width: 38.627%;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 60px;
        margin-left: 0;
    }

    .header-logo-img {
        width: 35px;
        height: 35px;
        margin: 0;
        padding: 0;
    }

    .header-nav-item {
        font-size: 16px;
        padding: 0;
    }

    .ui {
        font-size: 20px;
        padding: 0;
    }

    .header-action-icons {
        width: 20px;
        height: 20px;
    }

    .herobasic {
        width: 100%;
        height: 287px;
        padding: 60px 20px;
    }

    .herobasic > .column-title-container {
        z-index: unset;
    }

    .column-title-container {
        height: auto;
        text-align: center;
    }

    .column-title-heading {
        font-size: clamp(20px, 4.17vw, 32px);
        min-width: unset;
        width: 100%;
    }

    .column-title-subheading {
        font-size: clamp(14px, calc(2.08vw + 4px), 20px);
        text-align: center;
        padding: 0 20px;
    }

    .sub-hero {
        width: 100%;
        height: 226px;
    }

    .row-container {
        width: 100%;
        opacity: unset;
    }

    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product-card-list-1 {
        width: 100%;
        height: 342px;
        margin: 0;
    }

    .product-card-list-2 {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .one {
        width: 38.5416%;
    }

    .two {
        width: 38.5416%;
    }

    .image-one,
    .image-two {
        width: 100%;
        height: 162px;
        object-fit: cover;
    }

    .product-container {
        width: 83.33%;
        height: 831px;
        margin: 0;
    }

    .row-heading-list {
        width: 100%;
        height: 799px;
    }

    .column-container {
        height: 799px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .column-container-heading {
        width: 22.814%;
        height: 51px;
    }

    .column-product-first-row,
    .column-product-second-row {
        width: 100%;
        height: 342px;
        display: flex;
        flex-direction: column;
        overflow: unset;
        justify-content: unset;
    }

    .column-product-second-row{
        display: flex;
        margin-top: 32px;
    }

    .product-title {
        font-size: clamp(16px, calc(1.39vw + 9.33px), 20px);
        font-weight: 700;
        color: #1E1E1E;
        margin: 0;
    }

    .product-subtitle {
        font-size: clamp(10px, calc(0.69vw + 10.67px), 16px);
        white-space: nowrap;
    }

    .product-cards {
        width: 100%;
        height: 342px;
        min-height: unset;
        margin-bottom: 0;
    }

    .product-card-list {
        width: 640px;
        height: 342px;
        margin: 0;
        gap: 30px;
    }

    .product-card-pic {
        width: 47.656%;
        height: 342px;
        max-height: unset;
        align-items: unset;
        flex-direction: column;
        overflow: unset;
    }

    .product-pic {
        width: 52.459%;
        height: auto;
        margin-left: 24px;
        margin-top: 24px;
    }

    .product-card-content {
        width: 84.713%;
        height: 110px;
        margin-top: 24px;
        margin-left: 24px;
        margin-bottom: 24px;
        margin-right: 0;
    }

    .product-card-heading {
        width: 100%;
        font-size: 14px;
    }

    .product-card-desc {
        width: 100%;
        font-size: 12px;
        text-overflow: unset;
    }

    .desc-y, .desc-i {
        text-align: justify;
    }

    .review-container {
        width: 87.239%;
        margin-top: 32px;
        margin-left: 46.5px;
        margin-right: 0;
    }

    .review-column {
        width: 100%;
    }

    .review-content {
        width: 100%;
        height: 312px;
        margin-bottom: 33.42px;
    }

    .review-card-grid {
        width: 100%;
        gap: unset;
        display: flex;
        justify-content: space-between;

    }

    .review-title-heading {
        width: 25.076%;
        height: 24px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 32px;
        font-size: 20px;
        margin-left: 15px;
        white-space: nowrap;
    }

    .hidden {
        display: none;
    }

    .user-review {
        width: 48.957%;
        height: 228px;
        margin: 0;
        padding: 0;
    }

    .tablet {
        width: 47.166%;
        height: 228px;
    }

    .user-review-body {
        width: 85.799%;
        height: 72px;
        margin-bottom: 24px;
    }

    .review-heading {
        width: 100%;
        height: 17px;
        font-size: 14px;
        white-space: nowrap;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        overflow: auto;
        text-overflow: ellipsis;
    }

    .user-review-desc {
        font-size: 12px;
        width: 100%;
        height: 51px;
        padding-left: 0;
        margin-left: 24px;
        -webkit-box-orient: unset;
    }

    .user-review-avatar-container {
        min-width: unset;
        width: 85.465%;
        height: 40px;
        margin: 20px;
    }

    .user-review-heading {
        font-size: 12px;
    }

    .user-reivew-date {
        font-size: 12px;
    }

    .pagination-review {
        width: 276px;
        height: 34.58px;
        margin: 0 197px 0 197px;
    }
    
    .pagination-review .pagination-list {
        width: 276px;
        height: 34.58px;
        display: flex;
        align-items: center;
        margin-bottom: 32px;
    }    

    .chat-box-mini-container{
        width: 50px;
        height: 50px;
        right: 20px;
    }

    .chat-box-mini {
        width: 50px;
        height: 50px;
        margin: auto;
    }
    
    .chat-box {
        width: 383px;
        height: 714px;
        border-radius: 16px;
    }

    .chat-box-profile {
        height: 86.99px;
        gap: 20px;
    }

    .chat-box-profile-data {
        width: 177px;
        height: 48px;
        margin-left: 24px;
        align-items: center;
        justify-content: center;
    }

    .avatar-profile {
        width: 48px;
        height: 48px;
        font-size: 16px;
        border-bottom: 1px solid #E6EAEE;
    }

    .profile-info {
        width: 117px;
        height: 34px;
    }

    .profile-name {
        font-size: 14px;
    }

    .profile-desc {
        font-size: 12px;
    }

    .server-mess-1 {
        width: 289px;
        height: 66px;
        font-size: 14px;
        margin-top: 15px;
    }

    .server-mess-2 {
        width: 302px;
        height: 83px;
        font-size: 14px;   
    }

    .client-mess {
        width: 267px;
        height: 66px;
        font-size: 14px;
        margin-right: 17px;
        margin-top: 9px;
        margin-bottom: 35px;
    }

    .chat-box-mess {
        margin-left: 13.5px;
        margin-right: 13.5px;
    }

    .chat-box-image {
        width: 182px;
        height: 156px;
        margin-right: 17px;
        margin-top: 0;
        margin-bottom: 41px;
    }

    .input-chat {
        width: 342px;
        margin-top: 67px;
        margin-right: 20px;
        margin-left: 21px;
    }

    .chat-box-input {
        width: 261px;
        height: 57px;
        justify-content: unset;
        gap: unset;
    }

    .chat-box-input-text {
        font-size: 14px;
        width: fit-content;
        margin-left: 11px;
    }

    .chat-box-input-icon {
        margin-left: 50px;
        width: 25px;
        height: 25px;
    }

    .chat-box-input-send {
        width: 64px;
        height: 57px;
        background-color: #EDEFF1;
    }

    .chat-box-input-send img {
        width: 25px;
        height: 25px;
    }

    .attach-file {
        width: 25px;
        height: 25px;
        margin-left: 26px;
        margin-right: 11px;
    }

    .chat-wrapper {
        right: 22px;
        top: auto;
        bottom: 100px;
        width: 383px;
        height: 802px;
        gap: unset;
    }

    .chat-subbox-zalo {
        width: 383px;
        height: 88px;
    }

    .chat-box-zalo-subbox-info {
        width: 336px;
        height: 50px;
    }

    .chat-box-zalo-subbox-heading {
        width: 252px;
        height: 50px;
        font-size: 14px;
        padding-left: 10.5px;
        border-radius: 10px;
    }

    .chat-box-zalo-subbox-icon {
        width: 50px;
        height: 50px;
    }

    .chat-box-zalo-subbox-icon img {
        width: 30px;
        height: 30px;
    }

    .footer {
        width: 100%;
        height: 165px;
    }

    .footer-items {
        padding-top: 35px;
        margin-left: 30px;
    }

    .footer-info-list {
        padding-top: 30px;
        margin-bottom: 42.67px;
        display: flex;
        gap: 16px;
    }
}